<!-- Lets Talk -->
<section class="section-bg-color section-padding">
  <div class="container">
    <div class="row mt-15">
      <p class="normal-text col-md-9">Let's Talk</p>
      <p class="normal-text col-md-3 float-end">
        someone&#64;example.com
        <i class="fa fa-regular fa-envelope"></i>
      </p>
    </div>
    <div class="row mt-15">
      <p class="normal-text col-md-9">Book an appoinment?</p>
      <p class="normal-text col-md-3 float-end">
        +91-3855265060
        <i class="fa fa-brands fa-whatsapp"></i>
      </p>
    </div>
    <p class="row mt-15 divider"></p>
    <div class="row mt-15">
      <p class="col-md-6 normal-text">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum is simplyLorem Ipsum is simply dummy text of the
        printing and typesetting industry. Lorem Ipsum is simplyLorem
      </p>
    </div>
  </div>
</section>

<footer
  class="text-center text-lg-start text-white"
  style="background-color: black"
>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2021 Copyright-Artistic yoga
    <i class="small-icon fa-solid fa-circle"></i>
    <a class="text-white" href="#">Privacy policy</a>
    <i class="small-icon fa-solid fa-circle"></i>
    <a class="text-white" href="#">Terms of use</a>
  </div>
</footer>
