<!-- intro section  -->
<section class="section-bg section-padding">
  <div class="container">
    <div class="row">
      <h1 class="col-md-12 normal-text">Yoga for Flat Abs</h1>
      <h6 class="col-md-12 normal-text">90 Days program</h6>
      <div class="row mt-15">
        <div class="col-md 6">
          <div class="rounded-box">
            <div class="title">Introduction Video</div>
            <i class="play-icon fa-solid fa-play"></i>
          </div>
        </div>
        <div class="col-md 6">
          <ul class="nav nav-pills" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a
                class="nav-link active"
                id="details-tab"
                data-toggle="tab"
                href="#details"
                role="tab"
                aria-controls="details"
                aria-selected="true"
                >Details</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="techniques-tab"
                data-toggle="tab"
                href="#techniques"
                role="tab"
                aria-controls="techniques"
                aria-selected="false"
                >Techniques</a
              >
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="details"
              role="tabpanel"
              aria-labelledby="details-tab"
            >
              <p>
                Choose a quiet space so that you can do the session
                uninterrupted. Make sure there is at least 2 hours gap between a
                meal and the class. Put all other devices aside and enjoy the
                session.
              </p>
            </div>
            <div
              class="tab-pane fade"
              id="techniques"
              role="tabpanel"
              aria-labelledby="techniques-tab"
            >
              <p>
                Choose a quiet space so that you can do the session
                uninterrupted. Make sure there is at least 2 hours gap between a
                meal and the class. Put all other devices aside and enjoy the
                session.
              </p>
            </div>
          </div>
          <h6 class="colored-text margin-top-150">AED 99/-</h6>
          <button class="btn btn-primary rounded gradient-button">
            Join Now
          </button>
          <button class="btn rounded btn-outline-primary border-button">
            View Schedule
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Structure of program -->
<section class="section-bg-color section-padding">
  <div class="container">
    <div class="row mt-15">
      <div class="col-md 6">
        <h1 class="col-md-12 normal-text">Structure of program</h1>
        <h6 class="col-md-12 normal-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum is simply
        </h6>
        <div class="row pad-15 baseline margin-top-100">
          <h1 class="accent-text normal-text mt-15">90</h1>
          <p class="inline-block">Days</p>
        </div>
        <p>Yoga | Recovery | Rest | Repeat</p>
      </div>
      <div class="col-md 6">
        <img class="chart" src="../assets/images/chart.png" />
      </div>
    </div>
  </div>
</section>

<!-- Schedule -->
<section class="section-bg section-padding">
  <div class="container">
    <div class="row mt-15">
      <p class="normal-text">Schedule</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img class="chart" src="../assets/images/dots.png" />
      </div>
      <div class="col-md 6">
        <div class="row">
          <p class="col-md-9">Day 1-Class</p>
          <i class="image-button fa-solid fa-caret-left"></i>
          <i class="image-button fa-solid fa-caret-right"></i>
        </div>
        <div class="row">
          <div class="box">
            <div class="dropdown">
              <button
                class="btn drop-down dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Week 1
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Week 1</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Our Teachers -->
<section class="section-bg section-padding">
  <div class="container">
    <div class="row mt-15">
      <p class="normal-text">Our Teachers</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="list-group" id="carousel-indicators">
          <a
            class="list-group-item active"
            data-slide-to="0"
            href="#carouselExampleIndicators"
            >Sunil K</a
          >
          <a
            class="list-group-item"
            data-slide-to="1"
            href="#carouselExampleIndicators"
            >Rahul</a
          >
          <a
            class="list-group-item"
            data-slide-to="2"
            href="#carouselExampleIndicators"
            >Ashray M</a
          >
          <a
            class="list-group-item"
            data-slide-to="2"
            href="#carouselExampleIndicators"
            >Ashray</a
          >
          <a
            class="list-group-item"
            data-slide-to="2"
            href="#carouselExampleIndicators"
            >Ashish</a
          >
          <a
            class="list-group-item"
            data-slide-to="2"
            href="#carouselExampleIndicators"
            >Xinia</a
          >
        </div>
      </div>
      <div class="col-md-8">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-ride="carousel"
          data-interval="false"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="carousal-content row">
                <div class="pic-box col-sm-2"></div>
                <p class="col-md-8 normal-text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum is simply
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-right">
      <i class="image-button fa-solid fa-caret-left"></i>
      <i class="image-button fa-solid fa-caret-right"></i>
    </div>
  </div>
</section>
