<section class="section-bg section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <p class="big-text">MY
            <p class="big-text bold-color-text">ACCOUNT</p>
        </div>
        <div class="row justify-content-center mt-15">
            <div class="profile-container">
                <i class="profile-pic-large fa-regular fa-circle-user"></i>
                <i class="edit-button fa fa-pencil"></i>
            </div>
        </div>
        <div class="row margin-top-100">
            <div class="col-8 offset-3">
                <h5>Name</h5>
            </div>
            <div class="col offset-3">
                <p class="normal-text">Arjun N</p>
            </div>
            <div class="col">
                <a class="normal-text color-pink">Edit</a>
            </div>
        </div>
        <div class="row mt-15">
            <div class="col-10 offset-3">
                <h5>Email</h5>
            </div>
            <div class="col offset-3">
                <p class="normal-text">arjun&#64;gmail.com</p>
            </div>
            <div class="col">
                <a class="normal-text color-pink">Edit</a>
            </div>
        </div>
        <div class="row mt-15">
            <div class="col-10 offset-3">
                <h5>Phone</h5>
            </div>
            <div class="col offset-3">
                <p class="normal-text">9826369270</p>
            </div>
            <div class="col">
                <a class="normal-text color-pink">Edit</a>
            </div>
        </div>
        <div class="row mt-15">
            <div class="col offset-3">
                <h5>Phone</h5>
            </div>
            <div class="col">
                <a class="normal-text color-pink">Change password</a>
            </div>
        </div>
        <div class="row justify-content-center mt-15">
            <h5>Subscription Details</h5>
        </div>
        <div class="row mt-15">
            <div class="col offset-3">
                <p class="normal-text">1 Year Membership for 750 INR
                    <br>Started on: 13-11-2020
                    <br>Valid till: 13-11-2021
                </p>
            </div>
            <div class="col">
                <a class="normal-text color-pink">Change plan</a>
            </div>
        </div>
        <div class="row justify-content-center mt-15">
            <p class="normal-text text-decoration-underline">Subscription History</p>
        </div>
        <div class="row mt-15">
            <div class="col-10 offset-3">
                <h5>Referral Details</h5>
            </div>
            <div class="col offset-3">
                <p class="normal-text">Share your referral code and earn cash credits for each friend that subscribes.
                    <br>(1
                    Friend = 5 USD/16 DHRM). Also, your friend receives 5 USD credit.</p>
            </div>
        </div>
        <div class="row mt-15">
            <div class="col offset-3">
                <p class="normal-text">Referral Code:HSAGBWBDAV<br>Referral History</p>
            </div>
            <div class="col">
                <a class="normal-text color-pink">Copy</a>
            </div>
        </div>
    </div>
</section>